on:
  pull_request:
  push:
    branches: [main]
jobs:
  lints:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          # Semantic version range syntax or exact version of Go
          go-version: '1.25.x'
      - run: go test -v ./...
