on:
  pull_request:
  push:
    branches: [main]
jobs:
  lints:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          # Semantic version range syntax or exact version of Go
          go-version: '1.25.x'
      - run: go test -v ./...
