on:
  pull_request:
  push:
    branches: [main]
jobs:
  lints:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          # Semantic version range syntax or exact version of Go
          go-version: '1.25.x'
      - run: go test -v ./...
